<div class="jumbotron center">
	<h1>Pins Demo Project</h1>
	<p>Welcome to my first rails project. 
		<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
		<%= link_to "Log In", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>